.cart-button {
  display: grid;
  place-items: center;
  position: relative;
  cursor: pointer;
}

@media screen and (min-width: 767px) {
  .cart-button {
    margin-inline: 1em;
  }
}

.badge {
  --size: 18px;
  position: absolute;
  top: -20%;
  right: -40%;
  background-color: var(--accent);
  box-shadow: 0 0 5px var(--accent);
  border-radius: 20px;
  display: grid;
  place-items: center;
  font-size: 0.6rem;
  width: var(--size);
  height: var(--size);
  color: white;
  transform: scale(0);
  opacity: 0;
  transition: transform, opacity;
  transition-duration: 0.18s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.badge.show {
  transform: scale(1);
  opacity: 1;
}
