.card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--secondary);
  width: 100%;
}

@media screen and (min-width: 767px) {
  .card-container {
    max-width: var(--card-width);
  }
}

.product-image {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  aspect-ratio: 2/1;
  object-fit: scale-down;
}

@media screen and (min-width: 767px) {
  .product-image {
    aspect-ratio: 1/1;
  }
}

.product-title {
  font-size: 1.3rem;
  margin-top: 1em;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6em;
}
.price {
  font-weight: 600;
}
