.input-container {
  display: flex;
  gap: 1em;
  width: 100%;
  justify-content: center;
}

.searchbar {
  all: unset;
  display: block;
  padding: 0.5em 0.7em 0.5em 1em;
  width: 100%;
  border: 2px solid var(--static-1);
  border-radius: 10px;
  max-width: calc(100% - 2em);
}

@media screen and (min-width: 767px) {
  .searchbar {
    max-width: 400px;
  }
}
.filter-button {
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0.4em 0.8em;
  border: 2px solid var(--static-1);
  border-radius: 6px;
  stroke: var(--text);
  transition: all 0.3s ease;
}
.filter-button.active {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  stroke: var(--background);
}
.filter-button:hover,
.filter-button:focus {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary);
}

@media screen and (min-width: 767px) {
  .filter-button {
    display: none;
  }
}
