nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid var(--static-1);
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
}

@media (prefers-color-scheme: dark) {
  nav {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

nav h1 {
  font-size: 0.8rem;
  font-weight: 700;
}
nav .logo-container {
  display: flex;
  gap: 0.4em;
  align-items: center;
  flex: 1;
}
nav .logo {
  --size: 34px;
  padding: 0.2em;
  height: var(--size);
  width: var(--size);
  background-color: #f4eddd;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  nav .logo-container {
    gap: 1em;
  }
  nav .logo {
    --size: 40px;
    padding: 0.4em;
  }
}
nav .logo img {
  height: 100%;
}
nav h1 a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 767px) {
  nav {
    padding: 0.5rem 12%;
  }
  nav h1 {
    font-size: 1.4rem;
  }
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
  transition: opacity 0.3s ease;
  padding-inline: 1rem;
  position: relative;
}
.nav-link.active::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  left: 0;
  bottom: -20%;
  background-color: var(--accent);
  transition: width 0.3s ease;
  border-radius: 4px;
}

.nav-link.active::after {
  width: 100%;
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.6;
}

.product-link {
  display: none;
}

@media screen and (min-width: 767px) {
  .product-link {
    display: initial;
  }
}
