.sidebar {
  position: fixed;
  inset: 0;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  justify-content: center;
  transform: translateX(-100%);
  align-items: center;
  transition: transform 0.3s ease;
}

.sidebar-wrapper {
  width: 100%;
  max-width: 500px;
}

.sidebar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar .close-button {
  cursor: pointer;
  padding: 0.2em;
  background-color: var(--static-1);
  display: grid;
  place-items: center;
  border-radius: 1em;
}
.sidebar .close-button path {
  fill: var(--text);
}

@media screen and (min-width: 1024px) {
  .sidebar {
    transition: none;
  }
  .sidebar .close-button {
    display: none;
  }
}

.sidebar h2 {
  font-size: 1.3rem;
}

.sidebar.active {
  transform: translateX(0);
}

@media screen and (min-width: 1024px) {
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4em;
    background-color: var(--static-3);
    transform: translateX(0);
    justify-content: initial;
    width: 24%;
    height: fit-content;
  }
}

body:has(.sidebar.active) {
  overflow: hidden;
}

@media screen and (min-width: 767px) {
  body:has(.sidebar.active) {
    overflow: auto;
  }
}
