*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #000000;
    --background: #f9f8e6;
    --primary: #3038cf;
    --secondary: #f2f0ca;
    --accent: #2e35c2;
    --static-1: rgba(0, 0, 0, 0.1);
    --static-3: rgba(0, 0, 0, 0.03);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --background: #191806;
    --primary: #3038cf;
    --secondary: #35330d;
    --accent: #3d44d1;
    --static-1: rgba(255, 255, 255, 0.1);
    --static-3: rgba(255, 255, 255, 0.03);
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  stroke: var(--text);
  font-family: "Poppins", sans-serif;
}

button {
  all: unset;
}

::selection {
  background-color: rgba(0, 0, 0, 0.3);
}
